[submodule "lib/commonlibf4"]
	path = lib/commonlibf4
	url = https://github.com/flenarndev/commonlibf4.git
[submodule "lib/slimdetours"]
	path = lib/slimdetours
	url = https://github.com/KNSoft/KNSoft.SlimDetours.git
[submodule "lib/knsoft-ndk"]
	path = lib/knsoft-ndk
	url = https://github.com/KNSoft/KNSoft.NDK.git
